@model CustomControl.Models.SwimmingPool

@{
    Layout = null;
}

@for (var i = 0; i < Model.TimeIntervals; i++)
{
    if (i < Model.SwimLinesList.Count)
    {
        <tr>
            @foreach (var item in Model.SwimLinesList[i])
            {

                <td>
                    @item.Value
                </td>
            }
        </tr>
    }
    else
    {
        <tr>
            @for (var j = 0; j < Model.SwimLines.Count; j++)
            {
                <td></td>
            }
        </tr>
    }
}