@model CustomControl.Models.SwimmingPool

@{
    Layout = null;
}
@*@foreach(var swimLineItems in Model.SwimLinesList.Select((value, i) => new { i, value }).OrderByDescending(r => r.i))
{
    <tr id="swm-@Model.CurrentSwmPool">
        @for (var j = 0; j < Model.SwimLinesCount; j++)
        {
            <td id="in-@i-sline-@j"></td>
        }
    </tr>
}*@

@foreach(var swimLineItems in Model.SwimLinesList)
    {
        <tr>
        @foreach (var lineItem in swimLineItems)
        {
                <td>
                    @lineItem.Value
                </td>
        }
        </tr>
    }