@model List<CustomControl.Models.TimeLine>
@{
    ViewBag.Title = "Custom Control Reservation > Planning";
}
<h2>@ViewBag.Title</h2>
<div class="tables-container">
    <div class="row">
        <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12 input-line">
            <div class="input-group">

                <div id="start-time" class="bfh-timepicker input-item" data-time="06:00"></div>
                <div id="end-time" class="bfh-timepicker input-item" data-time="23:00"></div>

                <input type="hidden" name="search-url" id="search-url" value="@Url.Action("ResourceSearch")">

                <span class="input-group-btn input-item">
                    <input id="search-in" type="text" class="form-control" name="search" placeholder="Search ...">
                    <button id="search-btn" class="btn btn-default " type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>
    </div>
    <div id="resources">
        @Html.Partial("_ResourceTimeline", Model)
    </div>
</div>

@section scripts
{
    <script>
       
    </script>
}
