body {
    padding-top: 50px;
    padding-bottom: 20px;
    overflow-x: auto;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 100px !important;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.table-left {
    float: left;
}

#custom-search-form {
    margin:0;
    margin-top: 5px;
    padding: 0;
}
 
#custom-search-form .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
 
#custom-search-form button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
 
.search-query:focus + button {
    z-index: 3;   
}

.input-group {
    height: 37px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.input-item {
    margin-right: 5px;
    float: left;
}

.bfh-timepicker-toggle {
    float: left;
}

.bfh-timepicker-toggle:first-child {
    height: 20px;
}