
.swm-1 td {
    height: 37px !important;
}

table thead tr:first-child th {
    border-bottom: 0;
}

.table.table-responsive td {
    height: 37px;
}

.col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-8, .col-md-9, .col-md-12 {
    padding: 0;
}

.table-wrapper {
    width: 100%;
    float: left;
    display: inline;
}

.table-timeline {
    /*width: 160px;*/
    margin-left: 10px;
}

.tb2 {
    float: left;
    border-collapse: collapse;
    display: inline-block;
}

.tb2 th {
    width: 100px;
}

.tables-container {
    display: inline-block;
    min-width: max-content;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    margin-right: 50px;
}